* {
    margin: 0;
    padding: 0;
}

#textWrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
}
#headerOne{
    text-align: center;
    color: red;
    font-size: 100px;
}
#wrapper{
    margin-top: 150px;
    display: flex;
    justify-content: center;
}
#imageOne{
    width: 600px;
    height: 500px;
    animation-name: toceni;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes toceni{
    0%{transform: rotate(0deg)}
    100%{transform: rotate(350deg);}
}